

:root {
    --content-width: 1230px;
    --font-arial: Arial, Helvetica, sans-serif;
    --font-roborto: "Roboto Condensed", sans-serif;
    --main-cl: #FBE74F;
    --sec-cl: #5D5D5D;
    --b-cl: #000;
    --w-cl: #fff;
    --lh: 1.8em;
    --font-family: "Roboto Condensed", sans-serif;
    --body-color: #333333;
    --heightHeader: 100px;

    --width-sidebar: 264px;
}


h1,
h2,
h3,
h4,
h5,
h6,
input,
button,
textarea,
select,
p,
th,
td,
pre,
address,
li,
dt,
dd{
    font-size: 160%;
    -webkit-text-size-adjust: none;
    font-family: var(--font-family);
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
textarea {
    width: 100%;
    border: solid 1px #999999;
    padding: 16px 20px;
}

::placeholder {
    opacity: 0.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.5em;
}

a {
    transition: all .3s ease;
    text-decoration: none;
    font-family: var(--font-family);
    color: var(--body-color);
}

select {
    visibility: visible !important;
}

[href^="tel:"] {
    word-break: keep-all;
    white-space: nowrap;
}

img {
    vertical-align: middle;
    max-width: 100%;
    flex-shrink: 0;
    height: auto;
    object-fit: cover;
}

table {
    width: 100%;
}

p {
    margin-bottom: 15px;
    line-height: 1.5em;
}

p:last-child {
    margin-bottom: 0;
}

button {
    cursor: pointer;
    border: solid 1px #333;
    border-radius: 0;
    outline: none;
    box-shadow: none;
}

*,
::before,
::after {
    box-sizing: border-box;
    outline: none;
}

/*==========================================================================*/
/*                              G L O B A L                                 */
/*==========================================================================*/

html {
    background: var(--sec-cl);
}

body {
    min-width: 320px;
    -webkit-text-size-adjust: none;
    color: var(--body-color);
}

#wrapper {
    margin: 0 auto;
    overflow: hidden;
}

.container {
    width: var(--content-width);
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.lk-full{
    @include pos-full;
}

.sub-menu,
[data-accordion-for] {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.accordion-content {
  overflow: hidden;
  display: none;
}